html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


a{
	text-decoration: none;
	box-sizing: border-box;
	line-height: 1.5;
	color: black;
}
p, h4{
	line-height: 1.5;
	font-size: 20px;
}
h1, h2, h3{
	line-height: 1.2;
}
img{
	display: block;
}

.text-hide {
	text-indent: 101%;
	white-space: nowrap;
	overflow: hidden;
}
.bg-logo {
	background-image: url('d’Perfume.png');
	height: 38px;
	margin-bottom: 9px;
	margin-top: 9px;
}
.d-block {
	display: block;
}

.menu{
	display: flex;
	flex-direction: row;
	font-size: 20px;
	align-self: center;
}
.menu li{
	margin-left: 32px;
}
.menu li:hover{
	border-bottom: 1px solid #8d8d8d;
}
.menu li a{
	color: #8d8d8d;
	height: 100%;
}

.mob{
    display: none;
}


.menu-mob{
    display: none;
}
.menu-mob li{
    float: left;
}
.menu-mob li a{
    display: block;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;
}


.category{
	background: #916000;
	margin-bottom: 80px;
}
.category li{
	padding-right: 28px;
	padding-top: 14px;
	padding-bottom: 7px;
}
.category a{
	color: #FFFFFF;
	font-size: 20px;
}
.category a:hover{
	color: brown;
}

.footer{
	background: #916000;
}
.footer img{
	padding-top: 20px;
	padding-bottom: 20px;
}
.footer p{
	font-size: 14px;
	padding-left: 20px;
	color: #FFFFFF;
}
.footer li{
	margin-left: 31px;
}
.footer a{
	color: #FFFFFF;
	font-size: 20px;
	padding: 5px 0px 5px 5px;
}
.footer a:hover{
	color: rgb(116, 64, 4);;
}
.main{
    margin-bottom: 30px;
}
.main img{
    width: 100%;
    padding-bottom: 30px;
}

.product-info{
    margin-bottom: 80px;
}
.product-info h2{
    font-size: 32px;
    font-weight: bold;
}
.product-info h4{
    padding-top: 32px;
}
.product-info form{
    width: 100%;
    height: 50px;
    display: flex;
    font-size: 16px;
    margin-bottom: 12px;
}
.product-info input{
    border: 2px solid #916000;
    height: 50px;
    width: 50%;
    border-radius: 4px 0px 0px 4px;
    padding-left: 16px;
}
.product-info button{
    border: 2px solid #916000;
    width: 50%;
    color: #FFFFFF;
    background: #916000;
    border-radius: 0px 4px 4px 0px;
    font-size: 16px;
}
.product-info button:hover{
    background: rgb(116, 64, 4);
    border: 2px solid rgb(116, 64, 4);
}
.product-info a span{
    color: #916000;
}
.product-info a:hover{
    color:rgb(116, 64, 4);
    font-weight: bold;
}

.shop-info h3{
    font-weight: bold;
    margin-bottom: 8px;
}
.shop-info p{
    font-size: 16px;
    margin-bottom: 20px;
}

.mob-img{
    display: none;
}
